# ==========================================
# CORE FRAMEWORK & APPS
# ==========================================
Django~=5.2.0
djangorestframework==3.15.*
djangorestframework-simplejwt==5.3.*
django-unfold==0.34.*
django-environ>=0.11.2

# ==========================================
# DATABASE, CACHE & BACKGROUND TASKS
# ==========================================
psycopg[binary]==3.3.*
celery==5.4.*
redis==5.0.*

# ==========================================
# PRODUCTION APPLICATION SERVER
# ==========================================
gunicorn>=22.0.0
uvicorn[standard]>=0.30.0       # UvicornWorker for ASGI support

# ==========================================
# TESTING & DUMMY DATA
# ==========================================
faker>=30.0.0